# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
